<div class="h-full flex justify-center items-center">
  <mat-card class="p-8 ">
    <mat-card-content class="flex flex-col items-center justify-center">
      <h1 class="text-center">Login</h1>
      <form #form="ngForm" (ngSubmit)="login(form)" class="flex flex-col">
        <mat-form-field class="w-72" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput autocomplete="off" name="email" [(ngModel)]="this.credentialData.email">
        </mat-form-field>

        <mat-form-field class="w-72" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput autocomplete="on" name="password" [(ngModel)]="this.credentialData.password">
        </mat-form-field>

        <button mat-raised-button class="w-72" color="primary">Login</button>
      </form>
      <div class="m-5 text-center text-base">or</div>
      <p class="text-center underline underline-offset-4 hover:cursor-pointer" routerLink="/register/tourist">Registry as tourist</p>
      <p class="text-center underline underline-offset-4 hover:cursor-pointer" routerLink="/register/agency">Registry as agency</p>

    </mat-card-content>
  </mat-card>
</div>



