<div class="flex flex-col w-full h-full mt-72 items-center justify-center">
  <h1>Login</h1>
  <form #form="ngForm" (ngSubmit)="login(form)" class="flex flex-col">
    <mat-form-field class="w-72" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" matInput autocomplete="off" name="email" [(ngModel)]="credentialData.email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput autocomplete="on" name="password" [(ngModel)]="credentialData.password">
    </mat-form-field>

    <button mat-raised-button color="primary">Login</button>
  </form>
</div>


