<div class="all">
  <div class="barra">
    <div class="lateral">
      <mat-card class="titulo">
        <mat-card-content>
          <div class="parrafos">
            <p>Categorias</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="sub_titulo">
        <mat-card-content>
          <div class="parrafos">
            <p class="parrafos_">Ofertas del día</p>
            <p class="parrafos_">Los más populares</p>
            <p class="parrafos_">Para ti</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="lateral">
      <mat-card class="titulo">
        <mat-card-content>
          <div class="parrafos">
            <p>AAAAAAAAAA</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="sub_titulo">
        <mat-card-content>
          <div class="parrafos">
            <p class="parrafos_">Servicios</p>
            <p class="parrafos_">Agencias</p>
            <p class="parrafos_" routerLink="/inicio/service">Agregar servicio</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="dashboard">
    <mat-card class="secction">
      <mat-card-content>
        <p>Ofertas del día</p>

        <div class="content_cards">
          <mat-card class="card" *ngFor="let elemento of data_">
            <mat-card-content>
              <div class="img_card">
                <img src="{{ elemento.photo}}" alt="imagen card" />
              </div>

              <div class="description_card">
                <div class="descripcion_card">
                  {{ elemento.name }}
                </div>
              </div>

              <div class="stars">
                <div class="star_">
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                </div>
              </div>

              <div class="coste_card">
                <p>$ {{ elemento.price}}</p>
                <p>$ {{ elemento.new_price}}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- <div class="secction">
      <p>Ofertas del día</p>
      


      
      <div class="content_cards">

        <mat-card class="card" *ngFor="let elemento of data">
          <mat-card-content>
            <div class="img_card">
              <img src={{elemento.img}} alt="imagen card" />
            </div>
      
            <div class="description_card">
              <div class="descripcion_card">
                {{elemento.description}}
              </div>
            </div>
      
            <div class="stars">
              <div class="star_">
                <button
                  mat-icon-button
                  matTooltip="Primary"
                  style="color: rgb(9, 9, 9)"
                  aria-label="Example icon-button with a heart icon"
                >
                  <mat-icon class="icon_size">star</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Primary"
                  style="color: rgb(9, 9, 9)"
                  aria-label="Example icon-button with a heart icon"
                >
                  <mat-icon class="icon_size">star</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Primary"
                  style="color: rgb(9, 9, 9)"
                  aria-label="Example icon-button with a heart icon"
                >
                  <mat-icon class="icon_size">star</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Primary"
                  style="color: rgb(9, 9, 9)"
                  aria-label="Example icon-button with a heart icon"
                >
                  <mat-icon class="icon_size">star</mat-icon>
                </button>
              </div>
            </div>
      
            <div class="coste_card">
              <p>$ {{elemento.coste[0]}}</p>
              <p>$ {{elemento.coste[1]}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div> -->
<!-- ================================================================================================================ -->
    <mat-card class="secction">
      <mat-card-content>
        <p>Los más populares</p>

        <div class="content_cards">
          <mat-card class="card" *ngFor="let elemento of data_">
            <mat-card-content>
              <div class="img_card">
                <img src="{{ elemento.photo}}" alt="imagen card" />
              </div>

              <div class="description_card">
                <div class="descripcion_card">
                  {{ elemento.name }}
                </div>
              </div>

              <div class="stars">
                <div class="star_">
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                </div>
              </div>

              <div class="coste_card">
                <p>$ {{ elemento.price }}</p>
                <p>$ {{ elemento.new_price }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="secction">
      <mat-card-content>
        <p>Para tí</p>

        <div class="content_cards">
          <mat-card class="card" *ngFor="let elemento of data_">
            <mat-card-content>
              <div class="img_card">
                <img src="{{ elemento.photo }}" alt="imagen card" />
              </div>

              <div class="description_card">
                <div class="descripcion_card">
                  {{ elemento.name }}
                </div>
              </div>

              <div class="stars">
                <div class="star_">
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                </div>
              </div>

              <div class="coste_card">
                <p>$ {{ elemento.price }}</p>
                <p>$ {{ elemento.new_price }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
