<div class="content">

  <div class="img_card">
    <img src="../../../../assets/img/target.jpg" alt="imagen card">
  </div>

  <div class="description_card">
    <div class="descripcion_card">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
  </div>

  <div class="stars">
    <button mat-icon-button matTooltip="Primary" style="color: rgb(9, 9, 9);" aria-label="Example icon-button with a heart icon">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" style="color: rgb(9, 9, 9);" aria-label="Example icon-button with a heart icon">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" style="color: rgb(9, 9, 9);" aria-label="Example icon-button with a heart icon">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" style="color: rgb(9, 9, 9);" aria-label="Example icon-button with a heart icon">
      <mat-icon>star</mat-icon>
    </button>
  </div>

  <div class="coste_card">
    <p>$ 5555</p>
    <p>$ 5555</p>
  </div>
</div>
