<div class="grid">
  <mat-card class="description-agency">
    <mat-card-content>
      <img src="{{this.customerData.photo}}" class="foto_perfil">
      <div *ngIf="!edit" class="description-content">
        <h3 class="name">{{this.customerData.name}} {{this.customerData.last_name}}</h3>
        <h5 class="email">{{this.customerData.email}}</h5>
        <h5 class="location-header">Teléfono:</h5>
        <p class="location">{{this.customerData.phone_number}}</p>
        <button mat-raised-button color="primary" (click)="editCustomer()" >Editar información</button>
      </div>

      <form *ngIf="edit" (submit)="onSubmit()" #customerForm='ngForm'>
        <mat-form-field class="example-full-width">
          <mat-label>Imagen</mat-label>
          <input matInput name="photo" required [(ngModel)]="this.customerData.photo">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput name="name" required [(ngModel)]="this.customerData.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input matInput name="last_name" required [(ngModel)]="this.customerData.last_name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput name="email" required [(ngModel)]="this.customerData.email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input type="number" name="phone_number" required matInput [(ngModel)]="this.customerData.phone_number">
        </mat-form-field>
        <button mat-raised-button color="primary" >Guardar cambios</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="service">
    <mat-card-header>
      <mat-card-title>Servicios contratados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="hiredServices" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="scheduled_date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.scheduled_date}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-card-content>
  </mat-card>
</div>


