
<div class="color">



      <p>
        <mat-toolbar class="modifi">
          <!-- inicio -->
          <div class="container">
            <img src="../../../assets/img/logo.png" />
          </div>
            <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with share icon"
              [matMenuTriggerFor]="options"
            >
              <mat-icon>menu</mat-icon>
            </button>
          <mat-menu #options="matMenu">
            <button mat-menu-item routerLink="/home/agency-profile">Mi perfil - Agencia</button>
            <button mat-menu-item routerLink="/home/customer-profile">Mi perfil - Cliente</button>
            <button mat-menu-item routerLink="/home/offers">Cerrar session</button>
            <!--
              1. servicios
              2. agencias
              3. view servicio
              4. view agencia
              5. agregar servicio
              6. agregar agencia
             -->
          </mat-menu>

          <!-- fin -->

          <div class="services">
            <button mat-button routerLink="/home/account">Inicio</button>
            <button mat-button routerLink="/home/account">Servicios</button>
            <button mat-button routerLink="/home/account">Agencias</button>
          </div>
          <div class="search">
            <button routerLink="/inicio/search"
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with share icon"
            >
              <mat-icon color="primary" >search</mat-icon>
            </button>
            <input
              type="text"
              class="search_text"
              placeholder="Escriba lo que esta buscando"
            />
          </div>



        </mat-toolbar>
      </p>

</div>
