.color{
    background-color: #9CD4E7;
    text-align: center;
    justify-content: center;

}

.modifi{
    background-color: #9CD4E7;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .container{
    text-align: center;
  }
  img{
    width: 100%;
  }

  .search{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    height: 1.5rem;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 45rem; */
  }


  input{
    height: 1.5rem;
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.05rem;
  }

  .space{
    margin-left: auto;
    margin-right: auto;
  }
