<div class="all">
  <div class="barra">



  </div>

  <div class="dashboard">
    <mat-card class="secction">
      <mat-card-content>
        <p>Ofertas del día</p>

        <div class="content_cards">
          <mat-card class="card" *ngFor="let elemento of arrayPrice">
          
            
            <mat-card-content>
              <div class="img_card">
                <img src="{{ elemento.photo}}" alt="imagen card" />
              </div>

              <div class="description_card">
                <div class="descripcion_card">
                  {{ elemento.name }}
                </div>
              </div>

              <div class="stars">
                <div class="star_">
                  <button *ngIf="elemento.score>0"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>1"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>2"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>3"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                </div>
              </div>

              <div class="coste_card">
                <p>$ {{ elemento.price}}</p>
                <p>$ {{ elemento.new_price}}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

   <mat-card class="secction">
      <mat-card-content>
        <p>Los más populares</p>

        <div class="content_cards">
          <mat-card class="card" *ngFor="let elemento of arrayScore" >
          
            <mat-card-content (click)="openDialog(elemento.id)">
              <div class="img_card">
                <img src="{{ elemento.photo}}" alt="imagen card" />
              </div>

              <div class="description_card">
                <div class="descripcion_card">
                  {{ elemento.name }}
                </div>
              </div>

              <div class="stars">
                <div class="star_">
                  <button *ngIf="elemento.score>0"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>1"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>2"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>3"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                </div>
              </div>

              <div class="coste_card">
                <p>$ {{ elemento.price }}</p>
                <p>$ {{ elemento.new_price }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="secction">
      <mat-card-content>
        <p>Para tí</p>

        <div class="content_cards">
          <mat-card class="card" *ngFor="let elemento of arrayParaTi">
            
            <mat-card-content>
              <div class="img_card">
                <img src="{{ elemento.photo}}" alt="imagen card" />
              </div>

              <div class="description_card">
                <div class="descripcion_card">
                  {{ elemento.name }}
                </div>
              </div>

              <div class="stars">
                <div class="star_">
                  <button *ngIf="elemento.score>0"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>1"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>2"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                  <button *ngIf="elemento.score>3"
                    mat-icon-button
                    matTooltip="Primary"
                    style="color: rgb(9, 9, 9)"
                    aria-label="Example icon-button with a heart icon"
                  >
                    <mat-icon class="icon_size">star</mat-icon>
                  </button>
                </div>
              </div>

              <div class="coste_card">
                <p>$ {{ elemento.price}}</p>
                <p>$ {{ elemento.new_price}}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
