.example-card {
  margin-top: 8px;
  margin: 30px;
  padding: 30px;
  display: flex;
  border-radius: 40px;
}


input{
  height: 1.5rem;
  background-color: transparent;
  border: blue;
  width: 100%;
  font-size: 1.05rem;
}


.aaa{
  background-color: #9CD4E7;
  background-color-raised: #9CD4E7;
}

.imagena input{

}
