<mat-card class="m-4 p-4">
    <form (submit)="onSubmit()" #agencyReviewForm='ngForm' class="flex flex-col mt-4">
    <div class="flex flex-row gap-5">
        <mat-form-field class="w-48">
          <mat-label>Profesionalismo</mat-label>
          <input matInput type="number" name="professionalism_score" max="5" required [(ngModel)]="this.agencyReviewData.professionalism_score">
        </mat-form-field>
  
        <mat-form-field class="w-48">
          <mat-label>Seguridad</mat-label>
          <input matInput type="number" name="security_score" max="5" required [(ngModel)]="this.agencyReviewData.security_score">
        </mat-form-field>
      </div>
      <div class="flex flex-row gap-5">
        <mat-form-field class="w-48">
          <mat-label>Calidad/Precio</mat-label>
          <input matInput type="number" name="quality_score" max="5" required [(ngModel)]="this.agencyReviewData.quality_score">
        </mat-form-field>
  
        <mat-form-field class="w-48">
          <mat-label>Costos</mat-label>
          <input matInput type="number" name="cost_score" max="5" required [(ngModel)]="this.agencyReviewData.cost_score">
        </mat-form-field>
      </div>
      <div>
      <mat-form-field>
        <mat-label>Comentario (opcional)</mat-label>
        <textarea matInput name="comment" [(ngModel)]="this.agencyReviewData.comment"></textarea>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary" class="w-24 mt-5" (click)="onSubmit()">Finalizar</button>
</form>
</mat-card>