<mat-card class="m-4 p-4 half-width-card">
  <form #agencyReviewForm='ngForm' class="flex flex-col mt-4">
      <div>
          <h2>Agency Score</h2>
          <p>Enter a score from 0.0 to 5.0</p>
      </div>
  <div class="flex flex-row gap-5">
      <mat-form-field class="w-48">
        <mat-label>Professionalism</mat-label>
        <input matInput type="number" name="professionalism_score" max="5" required [(ngModel)]="this.agencyReviewData.professionalismScore">
      </mat-form-field>

      <mat-form-field class="w-48">
        <mat-label>Security</mat-label>
        <input matInput type="number" name="security_score" max="5" required [(ngModel)]="this.agencyReviewData.securityScore">
      </mat-form-field>
    </div>
    <div class="flex flex-row gap-5">
      <mat-form-field class="w-48">
        <mat-label>Price/Quality</mat-label>
        <input matInput type="number" name="quality_score" max="5" required [(ngModel)]="this.agencyReviewData.qualityScore">
      </mat-form-field>

      <mat-form-field class="w-48">
        <mat-label>Costs</mat-label>
        <input matInput type="number" name="cost_score" max="5" required [(ngModel)]="this.agencyReviewData.costScore">
      </mat-form-field>
    </div>
    
    <mat-form-field>
      <mat-label>Comment (optional)</mat-label>
      <textarea matInput name="comment" [(ngModel)]="this.agencyReviewData.comment" maxlength="360"></textarea>
    </mat-form-field>
  
    <div class="button-container">
  <button type="submit" mat-raised-button color="primary" class="w-24 mt-5" routerLink="/home">Cancel</button>
  <button type="submit" mat-raised-button color="primary" class="w-24 mt-5" (click)="onSubmit()" [disabled]="!agencyReviewForm.valid">Add review</button>
    </div>
</form>
</mat-card>