<div class="grid grid-cols-12 gap-5 m-5">
  <mat-card class="col-start-2 col-span-2 row-start-1 w-full">
    <mat-card-content>
      <div *ngIf="!edit" class="flex flex-col gap-1 justify-center items-center">
        <img src="{{this.touristData.photo}}" class="w-28 h-28 rounded-full">
        <p class="m-0 text-center font-medium">{{this.touristData.name}} {{this.touristData.lastName}}</p>
        <h5 class="m-0">{{this.touristData.email}}</h5>
        <p class="font-bold text-xs">Phone number:</p>
        <p class="text-xs">{{this.touristData.phoneNumber}}</p>
        <button mat-raised-button color="primary" (click)="editAgency()" >Edit information</button>
      </div>

      <form *ngIf="edit" (submit)="onSubmit()" #touristForm='ngForm' class="flex flex-col gap-1 justify-center items-center">
        <mat-form-field>
          <mat-label>Image</mat-label>
          <input matInput name="photo" required [(ngModel)]="this.touristData.photo">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput name="name" required [(ngModel)]="this.touristData.name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput name="last_name" required [(ngModel)]="this.touristData.lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput name="email" required [(ngModel)]="this.touristData.email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input type="number" name="phone_number" required matInput [(ngModel)]="this.touristData.phoneNumber">
        </mat-form-field>
        <button mat-raised-button color="primary" >Save changes</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-start-4 col-span-8 row-start-1 w-full">
    <mat-card-content>
      <p class="font-bold text-xl mx-auto mt-3">
        Tours reserved by {{ this.touristData.name }} {{ this.touristData.lastName }}
      </p>
      <div class="w-full flex justify-center mt-10" *ngIf="reservations1.length === 0">
        <p class="font-medium text-lg">No tours published</p>
      </div>
      <div class="flex flex-row flex-wrap gap-5">
        <div class="min-w-30 w-72 flex items-center flex-col justify-center" *ngFor="let element of reservations1; let i = index">

          <div class="mx-auto mt-3">
            <p class="font-bold text-lg">{{ element.scheduled_date| date:'dd/MM/yyyy' }}</p>
          </div>

          <div class="flex flex-row">
            <p class="text-xl">{{ element.amount }}</p>
          </div>

          <div class="flex flex-row">
            <p class="text-xl">{{ element.price }}</p>
          </div>

          <div class="flex flex-row">
            <p class="text-xl">{{ element.status }}</p>
          </div>

          <div class="flex flex-row gap-3">
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="m-4 p-4">
  <mat-card>
    <mat-card-content>
      <h3>My Reviews</h3>
      <div *ngFor="let element of tourReview1">
        <mat-card class="activity-card">
          <mat-card-content>
            <p class="font-bold text-xs">Date of Review:</p>
            <p>{{ element.date | date:'dd/MM/yyyy HH:mm' }}</p>
            <p class="font-bold text-xs">Comment:</p>
            <p>{{ element.comment }}</p>
            <p class="font-bold text-xs">Score:</p>
            <p>{{ element.score }}</p>
            <div class="flex flex-row gap-3">
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="tourReview1.length === 0">
        <p>No reviews found for this tour.</p>
      </div>
</mat-card-content>
</mat-card>
</div>