<div class="grid grid-cols-12 gap-5 m-4 p-4">
  <mat-card class="col-start-1 col-span-3 row-start-1 row-span-2 w-full">
    <mat-card-content>
      <div *ngIf="!edit" class="flex flex-col gap-1 justify-center items-center">
        <img src="{{this.tourDetailData.photo}}" class="w-36 h-36 rounded-lg">
        <p class="font-bold text-xs">Tour:</p>
        <p class="m-0">{{this.tourDetailData.name}}</p>
        <p class="font-bold text-xs">Description:</p>
        <h5 class="m-0">{{this.tourDetailData.description}}</h5>
        <p class="font-bold text-xs">Score:</p>
        <p class="text-xs mt-5 text-center">{{this.tourDetailData.score}}</p>
        <p class="font-bold mb-0 text-xs">Location:</p>
        <p class="text-xs">{{this.tourDetailData.location}}</p>
        <p class="font-bold text-xs">Price:</p>
        <p class="text-xs">{{this.tourDetailData.price}}</p>
        <p class="font-bold text-xs">Offer Price:</p>
        <p class="text-xs">{{this.tourDetailData.newPrice}}</p>
        <p class="font-bold text-xs">Creation Date:</p>
        <p class="text-xs">{{ this.tourDetailData.creationDate | date:'dd/MM/yyyy' }}</p>
        <p class="font-bold text-xs">Is Available?</p>
        <p class="text-xs">{{ this.tourDetailData.isOffer ? 'Yes' : 'No' }}</p>
        <button mat-raised-button color="primary" routerLink="/tour/reservation/{{this.tourDetailData.id}}" >Add Reservation</button>
      </div>


    </mat-card-content>
  </mat-card>

  <mat-card class="col-start-4 col-span-9 row-start-1">
    <mat-card-content>
      <p class="font-bold text-xl mx-auto mt-3">Activities</p>
      <div *ngFor="let element of this.tourDetailData.activities">
        <p class="font-bold text-lg">{{ element.name }}</p>
        <p>{{ element.description }}</p>
      </div>
      <div class="w-full flex justify-center mt-10" *ngIf="!this.tourDetailData.activities?.length">
        <p class="font-medium text-lg">No activities found for this tour.</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-start-4 col-span-9 row-start-2">
    <mat-card-content>
      <p class="font-bold text-xl mx-auto mt-3">Tour Reviews</p>
      <div *ngFor="let element of tourReview1">
        <mat-card class="activity-card">
          <mat-card-content>
            <p>{{ element.date | date:'dd/MM/yyyy HH:mm' }}</p>
            <p>{{ element.comment }}</p>
            <p>{{ element.score }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="w-full flex justify-center mt-10" *ngIf="tourDetailData.reviews?.length === 0">
        <p class="font-medium text-lg">No reviews found for this tour</p>
      </div>
      <div class="flex flex-row flex-wrap gap-5">
        <div class="min-w-30 w-72 flex items-center flex-col justify-center" *ngFor="let element of this.tourDetailData.reviews; let i = index">

          <div class="mx-auto mt-3">
            <p class="font-bold text-lg">{{ element.comment }}</p>
          </div>

          <div class="mx-auto mt-3">
            <p class="font-bold text-lg">{{ element.date }}</p>
          </div>

          <div class="flex flex-row">
            <p class="text-xl">{{ element.score }}</p>
          </div>

        </div>
      </div>
      <button mat-raised-button color="primary" routerLink="/tour/review/{{tourDetailData.id}}">Add Review</button>
    </mat-card-content>
  </mat-card>
</div>

<div class="">

</div>

<div class="m-4 p-4">

</div>
