<mat-card class="m-6 p-4 half-width-card">
  <form #tourReviewForm='ngForm' class="flex flex-col mt-4">
  <div>
      <h2>Overall tour score</h2>
      <p>Enter a score from 0.0 to 5.0</p>
  </div>
  <div class="flex flex-row gap-5">
      <mat-form-field class="w-48">
        <mat-label>Punctuation</mat-label>
        <input matInput type="number" name="score" max="5" required [(ngModel)]="this.tourReviewData.score">
      </mat-form-field>
    </div>
    
    <mat-form-field>
      <mat-label>Comment (optional)</mat-label>
      <textarea matInput name="comment" maxlength="360" [(ngModel)]="this.tourReviewData.comment"></textarea>
    </mat-form-field>
  
    <div class="button-container">
  <button type="submit" mat-raised-button color="primary" class="w-24 mt-5" routerLink="/home">Cancel</button>
  <button type="submit" mat-raised-button color="primary" class="w-24 mt-5" (click)="onSubmit()" [disabled]="!tourReviewForm.valid">Add Review</button>
    </div>
</form>
</mat-card>
