<mat-card class="contend_card" >
    <div class="titulo">
        <mat-card-title >Titulo servicio</mat-card-title>
    </div>
    <div class="img">

    </div>
    <div class="agencia">
        <div class="img_agencia">
            <img src="https://cdn.pixabay.com/photo/2017/03/16/21/18/logo-2150297_640.png" alt="imagen logo">
        </div>
        <div class="nombre_agencia">
            Nombre de la agencia
        </div>
        <div class="precio_servicio">
            $480 $
        </div>
    </div>
    <mat-label>Nombre del servicio</mat-label>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="name">
        <mat-label>Nombre del servicio</mat-label>
      </mat-form-field>
    <!--  -->
   
</mat-card>